*{
  box-sizing: border-box; 
  text-align: center;
}

body{
  margin: 0;
  padding: 10px;
}

.head{
  background-color: #9425ee;
  padding: 20px;
  color:#fff;
  font-size: x-large;
  border-radius: 10px;
}

